.oh{ overflow: hidden !important; }
.pointer{ cursor: pointer !important; }
.no-drop{ cursor: no-drop !important; }
.border-1{ border-width: 2.5px !important; }
.border-2{ border-width: 5px !important; }
.border-3{ border-width: 7.5px !important; }
.border-4{ border-width: 10px !important; }
.border-dashed{ border-style: dashed !important; }
.border-dotted{ border-style: dotted !important; }
.border-gray{ border-color: #eee !important; }
.radius-5{ border-radius: 5px !important; }
.radius-10{ border-radius: 10px !important; }
.radius-20{ border-radius: 20px !important; }
.radius-30{ border-radius: 30px !important; }
.radius-50{ border-radius: 50px !important; }
.radius-70{ border-radius: 70px !important; }
.radius-100{ border-radius: 100px !important; }
.hpx-100{
  height: 100px !important;
}
.hpx-200{
  height: 200px !important;
}
.same-25{
  width: 25px !important;
  height: 25px !important;
}
.same-50{
  width: 50px !important;
  height: 50px !important;
}
.same-100{
  width: 100px !important;
  height: 100px !important;
}
.same-200{
  width: 200px !important;
  height: 200px !important;
}
.r-0{
  right: 0 !important;
}
.t-0{
  top: 0 !important;
}
.lh-1{line-height: 1 !important;}
.lh-15{line-height: 1.5 !important;}
.lh-2{line-height: 2 !important;}
.strong{
  font-weight: 700 !important;
}
